button:disabled {
    background-color: antiquewhite;
}

.listItem:hover {
    background-color: rgb(113 63 18 / var(--tw-bg-opacity)) !important;
    color: white;
    width: fit-content;
    border-radius: 5px;
}

.sidebarItem:hover {
    background-color: rgb(113 63 18 / var(--tw-bg-opacity)) !important;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.table-div{
    position: inherit !important;
}

input:checked{
    accent-color:rgb(113 63 18 / var(--tw-bg-opacity)) !important;
}
